#putCompanyOptionsHere {
    display: flex ;
    flex-direction: column ;
    align-items: flex-start;
}

button {
    margin: 10px ;
}


#recentSearches {
    display: flex ;
    flex-direction: column ;
    align-items: flex-start;
}