


aside {
    display: inline-flex ;
    /* display: inline-block ; */
    /* flex-direction: row ; */
    
}

/* aside div {
    display: flex ;
    flex-direction: column ;
} */

#main {
    display: none;
    /* display: inline-block ; */
    margin-top: 25px;
    margin-left: 6%;
}

#recentSearches {
    display: flex ;
    flex-direction: column ;
    align-content:center;
}


#chartDiv {
    height: 400px ;
    width: 400px ;
    /* display: none ; */
}

#news {
    margin-top: 3%;
}
.newsCard {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.newsCard a{
    font-size: 1.5rem;
}


#title {
    font-size: 2rem;
    display: inline-block;
}
/* headings */
#title h1 {
    display: inline-block;
    padding-left: 10px;
}
h2 {
    font-size: 1.5rem;
    text-align: center;
}
h3 {
    font-size: 1.5rem;
}

nav {
    width: 100%;
    background-color: #79a3b1;
}


#stockImage {
    width: 50px;
    height: 50px;
    display: inline-block;
}
#companyOptions {
    border: #456268 solid 2px;
    width: 100%;
    margin-left: 1rem;
}


.hide {
    display: none ;
}
#companyInfo {
    width: 45%;
    margin-left: 10px;
    justify-content: space-around ;
    border: solid ;
    border-width: 2px ;
    border-color: #79a3b1 ;
    border-radius: 15px ;
    padding-left: 10px ;
}
#stockInfo {
    /* padding-top: 130px; */
    padding-left: 50px ;
    line-height: 1.7rem;
    width: 45;
    border: solid ;
    border-width: 2px ;
    border-color: #79a3b1 ;
    border-radius: 15px ;
    padding-top: 8px ;
}

#stockInfo p {
    margin-top: 10px ;
    margin-bottom: 10px ;
    margin-right: 10px ;
}

#companyName {
    font-size: 3.5rem;
    
}

/* butttons */
#searchButton {
    border: white solid 2px;
    border-radius: 2px;
    width: 40%;
    text-align: left;
    color: black;
}
.optionButton {
    background-color: white; 
    border: none;
    color: black;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px ;
    border-radius: 8px ;
    border: 2px solid #456268;
}

.optionButton:hover {
    background-color: grey; 
    color: white ;

  }



  .clearButton {
    background-color: white; 
    border: none;
    color: black;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px ;
    border-radius: 8px ;
    border: 2px solid #456268;
 }

 .clearButton:hover {
    background-color:#d0e8f2;
    color: black;

 } 


 .searchButton:hover {

    background-color:#d0e8f2; 
    color: black;
 }

/* Begin Modal CSS */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    /* background-color: #fefefe; */
    background-color: grey ;
    color: white ;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* End Modal CSS */

  /* media query for news articles */
  @media only screen and (min-width: 768px) {
      .newsCard {
          width: 25%;
      }
  }

  #companyNameDiv {
      display: flex ;
      align-items: center ;
      margin-left: 20px ;
      margin-right: 10px ;
      margin-top: 20px ;
  }

  #companyLogo {
      margin-top: 20px ;
      margin-bottom: 10px ;
  }


  /*  */
  #main {
      border: solid ;
      border-width: 3px ;
      border-color: grey ;
      border-radius: 15px ;
  }

  hr {
      height: 6px ;
      background-color: #79a3b1 ;
      color: grey ;
      margin: 8px ;
  }

  a {
      color: #79a3b1 ;
  }

  section {
      margin: 15px ;
  }


  #page {
      display: flex ;
  }

  #populatedField {
      display: flex ;
      flex-direction: column ;
      flex-grow: 4 ;
      margin: 0px ;
  }

  #sideSection {
      flex-grow: 1 ;
      background-color: rgb(245, 227, 203) ;
      margin: 0 ;
      display: flex ;
      justify-content: center;
  }

  #main {
    flex-grow: 1 ;
    margin-right: 20px ;
    margin-left: 20px ;  
    display: flex ;
    flex-direction: column ;
    display: none ;
    margin-bottom: 30px ;
  }

/* #nameLogo {
    display: flex ;
}

#descriptionAndStock {
    display: flex ;
    justify-content: space-around ; */
}

#news {
    margin-bottom: 30px ;
}

  #main section {
    display: flex ;
    justify-content: space-around ;
  }

  @media only screen and (max-width: 768px) {
    #sideSection {
        width: 100%;
    }

    #populatedField {
        width: 100% ;
        flex-direction: column ;
    }

    nav {
        width: 100% ;
    }

    #page {
        flex-direction: column ;
    }

    #main section {
        flex-direction: column ;
    }

    #companyInfo {
        display: flex ;
        flex-direction: column ;
        width: 100% ;
        margin-bottom: 10px ;
    }
}